<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeepassDB_SYNC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KeepassDB_SYNC.Properties.Settings>
            <setting name="BakupFolder" serializeAs="String">
                <value>U:\keypassData\backup</value>
            </setting>
            <setting name="OnServerDBLocation" serializeAs="String">
                <value>U:\</value>
            </setting>
            <setting name="OnLocalDBLocation" serializeAs="String">
                <value>C:\WorkApps\2_RdmInfoFolder</value>
            </setting>
            <setting name="Db_filename" serializeAs="String">
                <value>Database.kdbx</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logFolder" serializeAs="String">
                <value>C:\WorkApps\2_RdmInfoFolder\LOG</value>
            </setting>
        </KeepassDB_SYNC.Properties.Settings>
    </userSettings>
</configuration>